version: '{build}'
init:
  # For tagged releases, use tag name as version
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
        Update-AppveyorBuild -Version "$env:APPVEYOR_REPO_TAG_NAME"
      }
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
image: Visual Studio 2015
install:
  - appveyor DownloadFile https://dist.nuget.org/win-x86-commandline/v4.0.0/nuget.exe
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "{version}"
nuget:
  disable_publish_on_pr: true
artifacts:
- path: '**\*.nupkg'
  name: NuGet
deploy:
- provider: NuGet
  name: production
  api_key:
    secure: P7/VG8DnNs9JW9dCjNnLmtto46T/WD0P+Jf1L6KY+UawIdMpo2glsAfgWNMVge/R
  on:
    branch: master
    appveyor_repo_tag: true
